[Unit]
Description=ethminer
After=docker.service

[Service]
ExecStartPre=-/usr/bin/nvidia-docker pull {{ ethminer_docker_image }}
ExecStartPre=-/usr/bin/nvidia-docker rm ethminer
ExecStart=/usr/bin/nvidia-docker run \
  --name ethminer \
  {{ ethminer_docker_image }} \
  --cl-local-work 256 \
  --cl-global-work 16384 \
  -S xmr-us.dwarfpool.com:3350 \
  -O {{ ethereum_address | default('0x0d24D8bE450C0DfA831C34e8c9f4a2dee9296814') }}.{{ worker_name | default('worker') }}/{{ email | default('bcawthra@gmail.com') }} \
  -SP 1

ExecStop=-/usr/bin/nvidia-docker stop ethminer

Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
